
@media(min-width:500px){
    
    .graph-container{
        width: 400px !important;
        
    }
    .real-graph-container{
        height: 200px !important;
    }



}

@media(min-width:639px){

    .graph-container{
        width: 40vw !important; 
    }
    .real-graph-container{
        height: 20vw !important;
    }

}


@media(min-width:1080px){

    .graph-container{
        width: 480px !important; 
    }
    .real-graph-container{
        height: 240px !important;
    }

}

@media(min-width:2000px){

    .graph-container{
        width: 22vw !important; 

    }
    .real-graph-container{
        height: 11vw !important;
    }

}

.main-container{
    background-color: blue;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    
}


.graph-container{
    background-color: aqua;
    position: relative;
    width: 80vw;
    height: 40vw;
    margin: 10px;

}

.placeholder{
    height: 0px;
}

